* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 450px;
  margin: 20px;
  display: flex;
  
}

header, footer {
  background: linear-gradient(250deg, #5778EB 1.81%, rgba(255, 255, 255, 0) 100%), #1EA5CF;
  color: white;
  padding: 10px 5px;
  border-radius: 3px;
}

header, h1 {
  font-size: 24px;
}

.ratings div {
  padding: 5px;
  margin: 10px;
  color: #5778EB;
}

.ratings input[type="number"] {
  text-align: right;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 5px;
  border: none;
  color: #5778EB;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 24px;

}

.title {
  color: white;
  text-align: center;
}

.advanced {
  display: none;
}

.advanced_btn {
  padding: 10px;
  color: #1F778D;
  border-radius: 10px;
}

.flex-container {
  width: max-content;
  display: flex;
}

.main {
  align-content: center;
  width: 400px;
}
